.panel {
    display: flex;
    flex-direction: column;
    background: #2D3C60;
    width: 300px;
}

.panel .nav-url {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel .logotype {
    color: green;
    margin: 50px;
}

.panel .nav-url--href {
    margin: 25px;
    color: white;
    text-decoration: none;
}

.panel .nav-url--div {
    height: 50px;
    display: flex;
    align-items: center;
}

.panel .active {
    width: 100%;
    background-color: #E0F6FF;
}

.panel .active a {
    color: black;
}