@import "content.css";
@import "container.css";
@import "footer.css";
@import "heder.css";
@import "main.css";
@import "panel.css";

body {
    margin: 0;
}

.container {
    background-color: #E0F6FF;
    display: flex;
    flex-direction: row;
}